<div class="flexCont" [formGroup]="artifactsServ.artifactsForm" *ngIf="artifactsServ.artifactsForm">

  <button *ngIf="resServ.getFc('szabadToke').value >= 0" class="nbl text1" type="button" (click)="sArtifServ.openModal()">Új Ereklye</button>
  <button *ngIf="resServ.getFc('szabadToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="artifacts" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->


    <div class="w100" [formGroupName]='i' *ngFor="let a of artifacts.value; let i = index">
      <div class="flexCont" *ngIf="a.csoport == csoport">
        <div class="nbl w70 text1">{{a.nev}}</div>
        <div class="nbl w20 text1 center">{{a.szint}} SZ</div>
        <button class="deleteItem w10" type="button" (click)="artifactsServ.removeArtifact(i)">X</button>
        <div class="moneyCost text1 w40">{{a.ar*a.szint}} Cr</div>
        <div class="karmaCost text1 w20">{{a.karma*a.szint}} K</div>
        <div class="nprpl w30 text1 center" (click)="changePlace(i)">{{a.elhelyezes}}</div>
        <div *ngIf="a.megjegyzes" class="grayCell text1 w100">{{a.megjegyzes}}</div>

      </div>

    </div>

  </div>

</div>
