<div class="w100 flexCont" [ngClass]="select.toggleClass(spec.nev+i+j)" (click)="select.toggleStatus(spec.nev+i+j)">
  <div class="nprpl text1 w90">&#10503; {{spec.szint}} / 3 {{spec.nev}} </div>
  <div class="ngrn text1 w10 center">{{spec.szint + skillSzint + getAttrBonus()}}</div>
</div>

<div *ngIf="select.status == spec.nev+i+j" class="buttonCont w100 posAbs btnBack">
  <button *ngIf="spec.szint < 3" class="text1 itemGet" type="button" (click)="specLvlUp(); select.clearSelected();" >Szintlépés</button>
  <button class="text1 itemRemove" type="button" (click)="s.removeSpec(skillCsoport, i, j)">Törlés</button>
</div>
