<div class="flexCont w100 posRel">
  <h2 class="nbl w100 center" *ngIf="!userIsAuthenticated && !menuOn">
    Üdv az Árnyak között!
  </h2>
  <h2 class="nbl w100" *ngIf="userIsAuthenticated && !menuOn">
    {{getAName()}}
  </h2>
  <div *ngIf="!menuOn" class="nyllw text1 center posAbsIn" (click)="toggleMenu()">&#x2630;</div>
</div>


<nav *ngIf="menuOn" class="w100"  >
  <ul>
    <li>
      <a class="nprpl text1 center" routerLink="/">Főoldal</a>
    </li>
    <li>
      <a class="nprpl text1 center" routerLink="/charslist">Karakterek</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="nprpl text1 center" routerLink="/auth">Belépés</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="nprpl text1 center" (click)="onLogout()">Kilépés</a>
    </li>
  </ul>
</nav>

<div *ngIf="menuOn" class="itemRemove text2 center w100" (click)="toggleMenu()">Vissza</div>
