<h1 class="nbl posRel">
  <span *ngIf="!userIsAuthenticated">
    Üdv az Árnyak között!
  </span>
  <span *ngIf="userIsAuthenticated">
    Üdv újra itt {{headerName()}}!
  </span>
  <span class="ngrn creator posAbs">
    Karakterlap by Mythras
  </span>
</h1>

<nav>
  <ul>
    <li>
      <a class="nprpl text1 center" routerLink="/">Főoldal</a>
    </li>
    <li>
      <a class="nprpl text1 center" routerLink="/charslist">Karakterek</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="nprpl text1 center" routerLink="/auth">Belépés</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="nprpl text1 center" (click)="onLogout()">Kilépés</a>
    </li>
  </ul>
</nav>
