<div class="logo ntl">
  <p *ngIf="!userIsAuthenticated">
    Magyarország az Árnyakban
  </p>
  <p *ngIf="userIsAuthenticated">
    Üdv újra itt {{headerName()}}!
  </p>
  <div class="creator ngrn">
    Karakterlap by Mythras
  </div>
</div>

<nav>
  <ul>
    <li>
      <a class="nprpl" routerLink="/">Főoldal</a>
    </li>
    <li>
      <a class="nprpl" routerLink="/charslist">Karakterek</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="nprpl" routerLink="/auth">Belépés</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a class="nprpl" (click)="onLogout()">Kilépés</a>
    </li>
  </ul>
</nav>
