ul {
  display: flex;
  align-content: space-evenly;
  flex-flow: row nowrap;
}

a {
  display: block;
  text-align: center;
}

li {
  flex: 1;
}

li :hover {
  cursor: pointer;
  background-color: orange;
  color: black;
}

.creator {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5rem;
}
