<div class="pageCont" [formGroup]="detailsS.detailsForm" *ngIf="detailsS.detailsForm">

  <div class="w{{item.meret}} itemCont posRel"
  *ngFor="let item of detailsS.getDetailsUtil(); first as isFirst"
  (click)="onSelect(item.fcName)"
  >

    <app-inp-details *ngIf="item.tipus !== 'kepessegek'" class="itemCont w100" [ngClass]="selected == item.fcName ? 'selected':''"
    [mode] = "'display'"
    [nev] = "item.nev"
    [tipus] = "item.tipus"
    [egyseg] = "item.egyseg"
    [fcName] = "item.fcName"
    [megjegyzes] = "item.megjegyzes"
    [ertek] = "detailsS.getFc(item.fcName)?.value"
    [lista] = "detailsS.getList(item.nev)"
    ></app-inp-details>

    <app-btn-options *ngIf="selected == item.fcName" class="posTR"
      (buttonAction)="inpDetailsS.buttonAction(
      'edit',
      item.nev,
      item.tipus,
      item.egyseg,
      item.fcName,
      item.megjegyzes + (detailsS.getDefault(item.fcName) == undefined ? '' : ' ' + detailsS.getDefault(item.fcName)),
      detailsS.getFc(item.fcName)?.value,
      detailsS.getList(item.fcName)
      )"
    ></app-btn-options>

  </div>

  <div class="itemCont w100">
    <div class="ngrn text1 w100">
      Különleges képességek
    </div>
    <div class="grayCell w100 text1" *ngFor="let item of detailsS.getDefault('kepessegek')">
      {{item}}
    </div>
  </div>

</div>
