@import "../../../styles-flex.scss";

:host {
  @extend .flexCont;
}

.items :first-child:hover{
  cursor: pointer;
  background-color: orange;
}

.down {
  writing-mode: vertical-lr;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 3rem;
  height: 1rem;
}

.arrow :hover {
  cursor: pointer;
}

.headTextShow {
  display: flex;
}

.headTextHide {
  display: flex;
  min-width: 0;
}

.arrowCont {
  position: relative;
}

.right {
  bottom: .5rem;
  right: 0;
}

.left {
  bottom: .5rem;
  left: 0;
}
