@import "../../../styles-flex.scss";

:host {
  @extend .flexCont;
}

.items :first-child:hover{
  cursor: pointer;
  background-color: orange;
}

.down {
  writing-mode: vertical-lr;
}

.arrow {
  flex: 0 0 2rem;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.arrow :hover {
  cursor: pointer;
}

.head {
  flex: 1;
  justify-content: center;
  align-items: center;
}
