<div class="pageCont" [formGroup]="explosivesServ.explosivesForm" *ngIf="explosivesServ.explosivesForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sWeaponServ.openModal(true)">Új Robbanóanyag</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="explosives" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let explosive of getControls(); let i = index">

      <div class="itemCont" *ngIf="explosivesServ.getFcArr(i, 'csoport')?.value == csoport">

        <button class="deleteItem w10" type="button" (click)="explosivesServ.removeExplosive(i)">X</button>
        <div class="nbl w60 text1">{{explosivesServ.getFcArr(i, 'nev')?.value}}</div>
        <div class="nprpl w30 text1 center" (click)="changePlace(i)">{{explosivesServ.getFcArr(i, 'elhelyezes')?.value}}</div>
        <div class="grayCell text1 w40 center">{{explosivesServ.getFcArr(i, 'tipus')?.value}}</div>
        <div class="moneyCost text1 w30 center">{{explosivesServ.getFcArr(i, 'ar')?.value*explosivesServ.getFcArr(i, 'darab')?.value}} Cr</div>
        <div class="ngrn text1 w20 center">{{explosivesServ.getFcArr(i, 'darab')?.value}} db</div>
        <app-levelcontrol class="w10"
          [isEnabled]="resServ.getFc('elkolthetoToke')?.value > explosivesServ.getFcArr(i, 'ar')?.value"
          (buttonAction)="lvlContServ.buttonAction(
            explosivesServ.getFcArr(i, 'nev')?.value,
            'van',
            5,
            ' Darab',
            explosivesServ.getFcArr(i, 'ar')?.value,
            0,
            0,
            explosivesServ.getFcArr(i, 'darab'),
            explosivesServ.getFcArr(i, 'darab')?.value,
            1000
          )"
        ></app-levelcontrol>

        <div class="grayCell text1 w40 center">
          {{explosivesServ.getFcArr(i, 'ero')?.value}}
          ({{explosivesServ.getFcArr(i, 'sebzes')?.value}}
          {{explosivesServ.getFcArr(i, 'sebzesTipus')?.value}})
        </div>
        <div class="grayCell text1 w30 center">Táv: {{explosivesServ.getFcArr(i, 'tav')?.value}}</div>
        <div class="grayCell text1 w30 center">{{explosivesServ.getFcArr(i, 'suly')?.value*explosivesServ.getFcArr(i, 'darab')?.value}} Kg</div>

        <div *ngIf="explosivesServ.getFcArr(i, 'megjegyzes')?.value" class="grayCell text1 w100">{{explosivesServ.getFcArr(i, 'megjegyzes')?.value}}</div>

      </div>

    </div>

  </div>

</div>
