<div class="pageCont" [formGroup]="armorsServ.armorsForm" *ngIf="armorsServ.armorsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sArmorServ.openModal()">Új Páncél Vásárlása</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Új Páncél Vásárlása</button>

  <div class="nrd text2">{{armorsServ.getFc('armorRating')?.value}}</div>

  <div class="itemCont w100" formArrayName="armors" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl text1">{{csoport}}</h3>

    <!-- csoport konténer -->


    <div class="w100 itemCont" [formGroupName]='i' *ngFor="let armor of getControls(); let i = index">

      <app-hide-content class="w100" *ngIf="armorsServ.getFcArr(i, 'csoport')?.value == csoport"
        [arrowClass]="'nbl'"
        [keyWord]="armorsServ.getFcArr(i, 'nev')?.value+i"
        >
          <div headText class="nbl w50 text1">{{armorsServ.getFcArr(i, 'nev')?.value}}</div>
          <div headOther class="nprpl w20 text1">{{armorsServ.getFcArr(i, 'szint')?.value}}</div>
          <div headOther class="nprpl w20 text1" (click)="changePlace(i)">{{armorsServ.getFcArr(i, 'elhelyezes')?.value}}</div>
        <div class="itemCont">
          <div class="moneyCost text1 w33">{{armorsServ.getFcArr(i, 'ar')?.value}} Cr</div>
          <div class="grayCell text1 w33">{{armorsServ.getFcArr(i, 'suly')?.value}} Kg</div>
          <button class="deleteItem w33 text1" type="button" (click)="armorsServ.removeArmor(i)">X</button>
          <div *ngIf="armorsServ.getFcArr(i, 'megjegyzes')?.value" class="grayCell text1 w100">{{armorsServ.getFcArr(i, 'megjegyzes')?.value}}</div>
        </div>
      </app-hide-content>

    </div>

  </div>

</div>
