<div class="pageCont" [formGroup]="armorsServ.armorsForm" *ngIf="armorsServ.armorsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sArmorServ.openModal()">Új Páncél</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Új Páncél Vásárlása</button>

  <div class="w100" formArrayName="armors" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->


    <div class="w100" [formGroupName]='i' *ngFor="let a of armors.value; let i = index">

      <div class="itemCont" *ngIf="a.csoport == csoport">

        <div class="nbl w70 text1">{{a.nev}}</div>
        <div class="nrng w30 text1 center">{{a.szint}} AR</div>
        <button class="deleteItem w10" type="button" (click)="armorsServ.removeArmor(i)">X</button>
        <div class="moneyCost text1 w30">{{a.ar + a.kiegekAra}} Cr</div>
        <div class="grayCell text1 w30 center">{{a.suly + a.kiegekSulya}} Kg</div>
        <div class="nprpl w30 text1 center" (click)="changePlace(i)">{{a.elhelyezes}}</div>
        <div class="grayCell text1 w90">{{a.megjegyzes}}</div>


        <button class="ngrn w100 text1 center"
        type="button" (click)="sAAddonServ.openModal(i, a.csoport)">
          Új Kiegészítő
        </button>

        <div class="w100" formArrayName="addons">
          <div class="w100" [formGroupName]='k' *ngFor="let a of getAAddons(i).value; let k = index">
            <div class="nprpl text1 w100">{{a.nev}}</div>
            <div class="grayCell text1 w100">{{a.megjegyzes}}</div>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>
