<div class="pageCont" [formGroup]="armorsServ.armorsForm" *ngIf="armorsServ.armorsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button">Új Páncél Vásárlása</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Új Páncél Vásárlása</button>

  <!-- <div class="itemCont w100" formArrayName="armors">

    <div class="w100" [formGroupName]='i' *ngFor="let armor of armors; let i = index">
      <div>{{armorsServ.getFc(i)}}</div>
    </div>

  </div> -->


</div>
