<div class="pageCont" [formGroup]="spellsServ.spellsForm" *ngIf="spellsServ.spellsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sSpellServ.openModal()">Új Varázslat</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="spells" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let s of spells.value; let i = index">

      <div class="itemCont" *ngIf="s.csoport == csoport">

        <button class="deleteItem w10" type="button" (click)="spellsServ.removeSpell(i)">X</button>
        <div class="nbl w90 text1">
          {{i}} {{s.nev}}
          ({{spellType()}}) /
          {{s.hatotav}}
        </div>
        <div class="nrd text1 w70 center">{{s.kifaradas}}</div>
        <div class="ngrn w20 text1 center">{{s.szint}} SZ</div>
        <app-levelcontrol class="w10"
          [isEnabled]="resServ.getFc('elkolthetoToke')?.value > 1000
          && resServ.getFc('elkolthetoKarma')?.value > 2
          && attrServ.getFc('magia')?.value+3 > s.szint"
          (buttonAction)="lvlContServ.buttonAction(
            s.nev,
            'van',
            5,
            ' Szint',
            1000,
            2,
            0,
            spellsServ.getFcArr(i, 'szint'),
            s.szint,
            attrServ.getFc('magia')?.value+3
            )"
        ></app-levelcontrol>

        <div class="grayCell text1 w60 center">Célsz.: {{s.celszam}}</div>
        <div class="moneyCost text1 w25">{{1000*s.szint}} Cr</div>
        <div class="karmaCost text1 w15">{{2*s.szint}} K</div>
        <div class="grayCell text1 w100 center">Célp.: {{s.celpontok}} / {{s.hatoido}}</div>

        <div *ngIf="spellsServ.getFcArr(i, 'megjegyzes')?.value" class="grayCell text1 w100">{{s.megjegyzes}}</div>

      </div>

    </div>

  </div>

</div>
