<div class="pageCont" [formGroup]="spellsServ.spellsForm" *ngIf="spellsServ.spellsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sSpellServ.openModal()">Új Varázslat</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="spells" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->


    <div class="w100" [formGroupName]='i' *ngFor="let spell of getControls(); let i = index">

      <div class="itemCont" *ngIf="spellsServ.getFcArr(i, 'csoport')?.value == csoport">

        <div class="nbl w70 text1">{{spellsServ.getFcArr(i, 'nev')?.value}}</div>
        <div class="ngrn w20 text1 center">{{spellsServ.getFcArr(i, 'szint')?.value}} SZ</div>
        <app-levelcontrol class="w10"
          [isEnabled]="resServ.getFc('elkolthetoToke')?.value > 1000
          && resServ.getFc('elkolthetoKarma')?.value > 2
          && attrServ.getFc('magia')?.value+3 > spellsServ.getFcArr(i, 'szint')?.value"
          (buttonAction)="lvlContServ.buttonAction(
            spellsServ.getFcArr(i, 'nev')?.value,
            'van',
            5,
            ' Szint',
            1000,
            2,
            0,
            spellsServ.getFcArr(i, 'szint'),
            attrServ.getFc('magia')?.value+3
          )"
        ></app-levelcontrol>
        <button class="deleteItem w10" type="button" (click)="spellsServ.removeSpell(i)">X</button>
        <div class="moneyCost text1 w40">{{1000*spellsServ.getFcArr(i, 'szint')?.value}} Cr</div>
        <div class="karmaCost text1 w20">{{2*spellsServ.getFcArr(i, 'szint')?.value}} K</div>
        <div *ngIf="spellsServ.getFcArr(i, 'megjegyzes')?.value" class="grayCell text1 w100">{{spellsServ.getFcArr(i, 'megjegyzes')?.value}}</div>

      </div>

    </div>

  </div>

</div>
