.modalContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
}

input, select {
  text-align: center;
}

.buttonCont{
  padding-top: 1rem;
}
