<div class="pageCont">

  <h1 class="nrd w80">Kiegészítők</h1>
  <button class="nrd w20 text2 deleteItem" type="button" (click)="onClose()">X</button>

  <div class="itemCont w100" *ngFor="let a of getFilteredAAddonsList()" (click)="selectAAddon(a._id)">

    <div class="nbl text1 w70">{{a.nev}}</div>
    <div class="ntl text1 w30 center">{{a.elhelyezes}}</div>
    <div class="grayCell text1 w25 center">{{a.suly}} Kg</div>
    <div class="grayCell text1 w25 center">x{{a.sulySzorzo}} Kg</div>
    <div class="moneyCost text1 w25 center">{{a.ar}} Cr</div>
    <div class="moneyCost text1 w25 center">x{{a.arSzorzo}} Cr</div>
    <div class="grayCell text1 w100">{{a.megjegyzes}}</div>

  </div>

</div>
