.pageCont {
  background-color: gray;
}

.buttonCont{
  padding-top: 1rem;
}

.flexCont {
  margin: .3rem 0;
  justify-content: space-evenly;
  align-content: stretch;
}

.flexCont .nprpl {
  flex: 1 1 auto;
  justify-content: center;
}
