:host {
  width: 100%;
}

.modalContent {
  background-color: black;
  width: 90%;
}

.fejlec, button {
  justify-content: center;
}

input {
  text-align: center;
}

.buttonCont{
  padding-top: 1rem;
}
