:host {
  width: 100%;
}

.modalContent {
  width: 90%;
}

input {
  display: block;
  height: 1.5rem;
}

span {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  width: 100%;
}

.fejlec {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.megjegyzes {
  flex: 1;
  text-align: left;
  padding: 1rem;
}

.buttonCont {
  padding: 1rem;
}
