<div class="modalContent">
  <span>
    <div class="nrng text fejlec w80">{{fejlec}}</div>
    <button class="nrd text w20" type="button" (click)="onClose()">Vissza</button>
    <div class="nbl text megjegyzes w100">{{megjegyzes}}</div>
  </span>

  <!-- text input -->
  <span *ngIf="tipus == 'text'">
    <input class="grayCell text w100" id="modalInput" type="text" [value]="ertek">
  </span>

  <!-- color input -->
  <span *ngIf="tipus == 'color'">
    <input
    list="presetcolors"
    class="grayCell text w50"
    id="modalInput"
    type="color"
    [value]="ertek">
    <datalist id="presetcolors">
      <option>#c58c85</option>
      <option>#ecbcb4</option>
      <option>#d1a3a4</option>
      <option>#a1665e</option>
      <option>#503335</option>
      <option>#592f2a</option>
    </datalist>
  </span>

  <!-- number input -->
  <span *ngIf="tipus == 'number'">
    <button class="nrd w15" (click)="changeValue(-lepes)" type="button">-{{lepes}}</button>
    <button class="nrd w15" (click)="changeValue(-1)" type="button">-1</button>
    <input class="grayCell text w40" readonly id="modalInput" type="number" [value]="ertek">
    <button class="ngrn w15" (click)="changeValue(+1)" type="button">+1</button>
    <button class="ngrn w15" (click)="changeValue(+lepes)" type="button">+{{lepes}}</button>
    </span>

    <!-- list input -->
    <span *ngIf='tipus == "select"'>
      <select class="grayCell text w50" id="modalInput">
        <option selected [value]=ertek>{{ertek}}</option>
        <option *ngFor="let listitem of lista" [value]=listitem>{{listitem}}</option>
      </select>
    </span>

    <!-- save button -->

    <span class="buttonCont">
      <button class="ngrn text w20" type="button" (click)="onSave()">Mentés</button>
    </span>

  </div>
