<div class="modalContent itemCont">
  <div class="nrng text1 fejlec w80">{{fejlec}}</div>

  <button class="nrd text1 w20" type="button" (click)="onClose()">Vissza</button>

  <div *ngFor="let item of megjegyzes; first as isFirst">
    <div *ngIf="item !== null" class="ntl text1 megjegyzes w100">{{item}}</div>
  </div>

  <!-- text1 input -->
  <input *ngIf="tipus == 'text'" class="grayCell text1 w100" [id]="fcName" type="text1" [value]="ertek">

  <!-- color input -->
  <input *ngIf="tipus == 'color'"
  list="presetcolors"
  class="grayCell text1 w50"
  [id]="fcName"
  type="color"
  [value]="ertek">
  <datalist *ngIf="tipus == 'color'" id="presetcolors">
    <option>#c58c85</option>
    <option>#ecbcb4</option>
    <option>#d1a3a4</option>
    <option>#a1665e</option>
    <option>#503335</option>
    <option>#592f2a</option>
  </datalist>

  <!-- normal number input -->
  <input *ngIf="tipus == 'number'" class="grayCell text1 w60" [id]="fcName" type="number" [value]="ertek">

  <!-- list input -->
  <select *ngIf='tipus == "select"' class="grayCell text1 w50" [id]="fcName">
    <option selected [value]="ertek">{{ertek}}</option>
    <option *ngFor="let listitem of lista" [value]=listitem>{{listitem}}</option>
  </select>

  <!-- input field with list -->

  <input *ngIf="tipus == 'inpselect'" class="grayCell text1 w50" type="text1" [id]="fcName" list="lista" [value]="ertek"/>
  <datalist *ngIf="tipus == 'inpselect'" id="lista">
    <option *ngFor="let listitem of lista" [value]=listitem>{{listitem}}</option>
  </datalist>

    <!-- save button -->

  <div class="buttonCont w100">
    <button class="ngrn text1" type="button" (click)="onSave(fcName)">Mentés</button>
  </div>
</div>
