<div class="modalContent">
  <span>
    <div class="nrng text fejlec w80">{{fejlec}}</div>
    <button class="nrd text w20" type="button" (click)="onClose()">Vissza</button>
    <span *ngFor="let item of megjegyzes; first as isFirst">
      <div *ngIf="item !== null" class="ntl text megjegyzes w100">{{item}}</div>
    </span>
  </span>

  <!-- text input -->
  <span *ngIf="tipus == 'text'">
    <input class="grayCell text w100" [id]="fcName" type="text" [value]="ertek">
  </span>

  <!-- color input -->
  <span *ngIf="tipus == 'color'">
    <input
    list="presetcolors"
    class="grayCell text w50"
    [id]="fcName"
    type="color"
    [value]="ertek">
    <datalist id="presetcolors">
      <option>#c58c85</option>
      <option>#ecbcb4</option>
      <option>#d1a3a4</option>
      <option>#a1665e</option>
      <option>#503335</option>
      <option>#592f2a</option>
    </datalist>
  </span>

  <!-- normal number input -->
  <span *ngIf="tipus == 'number'">
    <input class="grayCell text w60" [id]="fcName" type="number" [value]="ertek">
  </span>


  <!-- list input -->
  <span *ngIf='tipus == "select"'>
    <select class="grayCell text w50" [id]="fcName">
      <option selected [value]="ertek">{{ertek}}</option>
      <option *ngFor="let listitem of lista" [value]=listitem>{{listitem}}</option>
    </select>
  </span>

  <!-- input field with list -->

  <span *ngIf="tipus == 'inpselect'">
    <input class="grayCell text w50" type="text" [id]="fcName" list="lista" [value]="ertek"/>
    <datalist id="lista">
      <option *ngFor="let listitem of lista" [value]=listitem>{{listitem}}</option>
    </datalist>
  </span>

    <!-- save button -->

  <span class="buttonCont">
    <button class="ngrn text w20" type="button" (click)="onSave(fcName)">Mentés</button>
  </span>
</div>
