<div class="pageCont" [formGroup]="resServ.resourcesForm" *ngIf="resServ.resourcesForm">

  <div class="itemCont w100" *ngFor='let res of getResUtil()'>
    <div class="ngrn w40 text1">
      {{res.nev}}
    </div>
    <div *ngIf="res.karmaKtsg" class="karmaCost text1 w10">
      {{res.karmaKtsg}}
    </div>
    <div *ngIf="!res.karmaKtsg" class="karmaCost text1 w10">
      0
    </div>

    <app-levelcontrol class="w10"
    [isEnabled]="res.novelheto
    && resServ.getFc(res.fcName).value < res.maxErtek"
    (buttonAction)="lvlContServ.buttonAction(
      res.nev,
      res.megjegyzes,
      res.jutalom,
      res.lepes,
      res.egyseg,
      res.ktsg,
      resServ.getFc(res.fcName),
      resServ.getFc('elkolthetoKarma'),
      resServ.getFc(res.fcName).value,
      res.maxErtek
    )"
    ></app-levelcontrol>

    <div class="w40 grayCell text1">
      {{resServ.getFc(res.fcName).value}} {{res.egyseg}}
    </div>

  </div>

</div>
