<div class="pageCont" [formGroup]="resS.resourcesForm" *ngIf="resS.resourcesForm">

  <!-- karma értékek -->

  <div *ngFor="let res of getKarmaU()" class="w100 itemCont">
    <div class="w40 text1 nprpl">{{res.nev}}</div>
    <div class="w60 text1 grayCell">&#x20AD; {{resS.getFc(res.fcName)?.value}}</div>
  </div>

  <div class="w40 text1 nprpl">Szabad Karma</div>
  <app-field-karma class="w60"
  [ertek]="resS.getFc('szabadKarma')?.value"
  ></app-field-karma>

  <!-- tőke értékek -->

  <div *ngFor="let res of getTokeU()" class="w100 itemCont">
    <div class="w40 text1 nrng">{{res.nev}}</div>
    <div class="w60 text1 grayCell">{{resS.getFc(res.fcName)?.value}} N&#xa5;</div>
  </div>

  <div class="w40 text1 nrng">Szabad Tőke</div>
  <app-field-toke class="w60"
  [ertek]="resS.getFc('szabadToke')?.value"
  ></app-field-toke>

  <div class="w100 buttonCont">
    <button class="w40 text1 nprpl center" type="button" (click)="lvlContServ.buttonAction(
      'Karmából Tőke',
      '&#x20AD; 1 => 7500 N&#xa5;',
      10,
      7500,
      0,
      1,
      resS.getFc('szabadKarma'),
      '&#x20AD;',
      resS.getFc('szabadToke'),
      'N&#xa5;',
      1,
      resS.getFc('szabadKarma')?.value
    )"
    >&#x20AD; 1 => 7500 N&#xa5;</button>

    <button class="w40 text1 nrng center" type="button" (click)="lvlContServ.buttonAction(
      'Tőkéből Karma',
      '7500 N&#xa5; => &#x20AD; 1',
      10,
      1,
      7500,
      0,
      resS.getFc('szabadToke'),
      'N&#xa5;',
      resS.getFc('szabadKarma'),
      '&#x20AD;',
      7500,
      resS.getFc('szabadToke')?.value
    )"
    >7500 N&#xa5; => &#x20AD; 1</button>
  </div>

</div>
