<div class="pageCont">

  <h1 class="nrd w80">Páncélok</h1>
  <button class="nrd w20 text2 deleteItem" type="button" (click)="onClose()">X</button>

  <div class="itemCont w100">
    <div class="nprpl text1 w33" (click)="selectFilter('Nincs')">Nincs</div>
    <div class="nprpl text1 w33" *ngFor="let csoport of getCsoportok()" (click)="selectFilter(csoport)">
      {{csoport}}
    </div>
  </div>

  <div class="itemCont w100" *ngFor="let filteredCs of getFilteredCsoportok()">

    <h3 class="w100 ntl">{{filteredCs}}</h3>

    <div class="itemCont w100" *ngFor="let a of getFilteredArmorsList(filteredCs)" (click)="selectArmor(
      a._id, a.nev, a.csoport, a.szint, a.suly, a.ar, a.megjegyzes
      )">

      <div class="nbl text1 w60">{{a.nev}}</div>
      <div class="nrng text1 center w15">{{a.szint}} AR</div>
      <div class="moneyCost text1 w25">{{a.ar}} Cr</div>
      <div class="grayCell center text1 w30">{{a.suly}} Kg</div>
      <div class="grayCell text1 w70">{{a.megjegyzes}}</div>

    </div>

  </div>

</div>
