
<form *ngIf="charServ.mainCharForm" [formGroup]="charServ.mainCharForm" (ngSubmit)="createNewChar()">

  <div class="buttonCont">
    <button *ngIf="userIsAuthenticated && userId == getCreatorId()" class="ngrn text1" type="submit">Karakter mentése</button>
    <button class="nyllw text1" type="button" (click)="backToList()">Vissza</button>
  </div>

  <app-section-head
  [subForm]="'details'"
  [headText]="'Jellemzők'"
  ></app-section-head>
  <app-details [hidden]="this.headServ.showMeSatus !== 'details'"></app-details>

  <app-section-head
  [subForm]="'resources'"
  [headText]="'Erőforrások'"
  ></app-section-head>
  <app-resources [hidden]="this.headServ.showMeSatus !== 'resources'"></app-resources>

  <app-section-head
  [subForm]="'attributes'"
  [headText]="'Tulajdonságok'"
  ></app-section-head>
  <app-attributes [hidden]="this.headServ.showMeSatus !== 'attributes'"></app-attributes>

</form>
