
<form *ngIf="charServ.mainCharForm" [formGroup]="charServ.mainCharForm" (ngSubmit)="createNewChar()">

  <div class="buttonCont">
    <button *ngIf="userIsAuthenticated && userId == getCreatorId()" class="ngrn text1" type="submit">Karakter mentése</button>
    <button class="nyllw text1" type="button" (click)="backToList()">Vissza</button>
  </div>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'details'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('details')">Jellemzők</h2>
    <app-details></app-details>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'resources'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('resources')">Erőforrások</h2>
    <app-resources></app-resources>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'attributes'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('attributes')">Tulajdonságok</h2>
    <app-attributes></app-attributes>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'status'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('status')">Állapotjelző</h2>
    <app-status></app-status>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'skills'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('skills')">Szakértelmek</h2>
    <app-skills></app-skills>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'armors'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('armors')">Viselt Páncélzat</h2>
    <app-armors></app-armors>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'tools'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('tools')">Felszerelések</h2>
    <app-tools></app-tools>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'cybers'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('cybers')">Kibervilág</h2>
    <app-cybers></app-cybers>
  </app-hide-content>

  <app-hide-content
    [arrowClass]="'nrd text2'"
    [keyWord]="'magics'"
    >
    <h2 headText class="nrd w90" (click)="hideServ.toggleStatus('magics')">Mágia</h2>
    <app-magics></app-magics>
  </app-hide-content>

</form>
