<form *ngIf="charServ.mainCharForm" [formGroup]="charServ.mainCharForm" (ngSubmit)="createNewChar()">

<div class="buttonCont margTop1">
  <button *ngIf="userIsAuthenticated && _id == getCreatorId()" class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemRemove text1" type="button" (click)="backToList()">Vissza</button>
</div>

<app-hide-content class="w100 margBott1"
[keyWord]="'mainCharFilter'"
[arrowClass]="'flex1 nbl text2 center'"
>
  <div headText class="flex1 nbl text2 center">
    Oldalszűrő: {{filter}}
  </div>
  <div class="flexCont gap2">
    <div class="text1 center nprpl gap2 w100" (click)="setFilter('Nincs')">X Nincs</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Jellemzők')">Jellemzők</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Erőforrások')">Erőforrások</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Tulajdonságok')">Tulajdonságok</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Állapotjelző')">Állapotjelző</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Szakértelmek')">Szakértelmek</div>
  </div>
</app-hide-content>


    <app-details [hidden]="filter !== 'Nincs' && filter !== 'Jellemzők'"></app-details>
    <app-resources [hidden]="filter !== 'Nincs' && filter !== 'Erőforrások'"></app-resources>
    <app-attributes [hidden]="filter !== 'Nincs' && filter !== 'Tulajdonságok'"></app-attributes>
    <app-status [hidden]="filter !== 'Nincs' && filter !== 'Állapotjelző'"></app-status>
    <app-skills [hidden]="filter !== 'Nincs' && filter !== 'Szakértelmek'"></app-skills>

</form>
