<div class="sectioncont">

  <div class="w100" *ngFor="let char of charsList">
    <div class="bl-wh">{{char.nev}}</div>
    <div class="or-bl">{{char.kaszt}}</div>
    <div class="or-bl">{{char.creatorName}}</div>
    <div class="or-bl">{{char.creatorId}}</div>
    <div class="buttoncont" *ngIf="userIsAuthenticated">
      <button class="bl-wh" type="button" (click)="onUpdateChar(char._id)">Módosítás</button>
      <button class="re-wh" (click)="onDeleteChar(char._id)">Törlés</button>
    </div>
  </div>
  <div class="buttoncont w100">
    <button class="gr-wh" (click)="onNewChar()" *ngIf="userIsAuthenticated">Új Karakter</button>
  </div>

</div>
