<div class="pageCont">

  <div class="buttonCont w100 itemCont">
    <button class="itemGet text1" (click)="onNewChar()">Új Karakter</button>
  </div>

  <div class="w100" *ngFor="let csoport of ['Saját karakterek', 'Más karakterek']">

    <h3 *ngIf="userIsAuthenticated" class="ntl w100 itemCont">{{csoport}}</h3>

    <div *ngFor="let char of charsListServ.charsList">

      <div class="itemCont" *ngIf="csoport == getCsoport(char.creatorId)">

        <div class="nbl w100 text2 center">{{char.becenev}}</div>
        <div class="nprpl w100 text1">User: {{char.creatorName}}</div>
        <div class="nrng w100 text1">Nyelv: {{char.anyanyelv}}</div>
        <div class="ngrn w100 text1">DNS: {{char.dns}}</div>

        <div class="buttonCont w100" *ngIf="userId === char.creatorId">
          <button class="itemEdit text1 w50" type="button" (click)="onUpdateChar(char._id)">Szerk.</button>
          <button class="itemRemove text1 w50" (click)="onDeleteChar(char._id)">Törlés</button>
        </div>
        <div class="buttonCont w100" *ngIf="userId !== char.creatorId">
          <button class="itemGet text1" type="button" [disabled]="userId !== char.creatorId && !userIsAuthenticated" (click)="onUpdateChar(char._id)">Megtekintés</button>
        </div>

      </div>

    </div>


  </div>




</div>
