
<div class="flexCont" [formGroup]="s.statusForm" *ngIf="s.statusForm">

  <!-- Asztrális állapot -->
  <app-statusmonitor class="flexCont w100 margBott1"
  [headText]="'Asztrális állapot'"
  [statusCode]="s.getFc('asztralisAllapot').value"
  (newStatusCode)="s.setStatus($event, 'asztralisAllapot')"
  ></app-statusmonitor>

  <!-- Pihentség állapot -->
  <!-- <div class="flexCont w100 margBott1">

    <div [ngClass]="toggleKockaMColor('pinhentsegAllapot', 4)" (click)="sendStatus('pinhentsegAllapot', 4)" class="w25 text1">Pihent</div>
    <div class="w75 nwht text1">Pihentség</div>
    <div [ngClass]="toggleKockaMColor('pinhentsegAllapot', 3)" (click)="sendStatus('pinhentsegAllapot', 3)" class="flex1 text1">Rendben</div>
    <div [ngClass]="toggleKockaMColor('pinhentsegAllapot', 2)" (click)="sendStatus('pinhentsegAllapot', 2)" class="flex1 text1">Fáradt</div>
    <div [ngClass]="toggleKockaMColor('pinhentsegAllapot', 1)" (click)="sendStatus('pinhentsegAllapot', 1)" class="flex1 text1">Kimerült</div>
    <div [ngClass]="toggleKockaMColor('pinhentsegAllapot', 0)" (click)="sendStatus('pinhentsegAllapot', 0)" class="flex1 text1">Elgyötört</div>

  </div> -->

  <!-- Fizikai állapot -->

  <app-statusmonitor class="flexCont w100 margBott1"
  [headText]="'Fizikai állapot'"
  [statusCode]="s.getFc('fizikaiAllapot').value"
  (newStatusCode)="s.setStatus($event, 'fizikaiAllapot')"
  ></app-statusmonitor>


  <!-- Tápláltság állapot -->
  <!-- <div class="flexCont w100 margBott1">

    <div [ngClass]="toggleKockaMColor('taplaltsagAllapot', 4)" (click)="sendStatus('taplaltsagAllapot', 4)" class="w25 text1">Táplált</div>
    <div class="w75 nwht text1">Tápláltság</div>
    <div [ngClass]="toggleKockaMColor('taplaltsagAllapot', 3)" (click)="sendStatus('taplaltsagAllapot', 3)" class="flex1 text1">Rendben</div>
    <div [ngClass]="toggleKockaMColor('taplaltsagAllapot', 2)" (click)="sendStatus('taplaltsagAllapot', 2)" class="flex1 text1">Éhes</div>
    <div [ngClass]="toggleKockaMColor('taplaltsagAllapot', 1)" (click)="sendStatus('taplaltsagAllapot', 1)" class="flex1 text1">Nélkülöz</div>
    <div [ngClass]="toggleKockaMColor('taplaltsagAllapot', 0)" (click)="sendStatus('taplaltsagAllapot', 0)" class="flex1 text1">Éhező</div>

  </div>
 -->

    <div class="w50 text1 center nwht">
      <div>
        Kezdeményezés
      </div>
      <div class="nrd">
        -{{modifiers}}
      </div>
    </div>

    <div class="w50 text1 center nwht">
      <div>
        Célszám
      </div>
      <div class="nrd">
        +{{modifiers}}
      </div>
    </div>

  </div>
