<div class="pageCont" [formGroup]="attrServ.attributesForm" *ngIf="attrServ.attributesForm">

  <div class="itemCont w100" *ngFor="let csoport of getCsoport()">

    <h3 class="w100 ntl text1">{{csoport}}</h3>

    <div class="itemCont w100" *ngFor="let attr of getAttrsByCsoport(csoport)">
      <div class="ngrn w40 text1">
        {{attr.fejlec}}
      </div>
      <div class="nyllw w15 text1 attrNum">
        {{getValue(attr.fcName)}}/{{getAttrMax(attr.fcName)}}
      </div>
      <div class="nrng w15 text1 attrNum">
        {{getValue(attr.fcName+'Mod')}}
      </div>
      <div class="ngrn w20 text1 attrNum">
        {{getValue(attr.fcName) + getValue(attr.fcName+'Mod')}}
      </div>
      <button [disabled]="attr.novelheto == false
      || resServ.resourcesForm.get('attrToSpend')?.value <= 0
      || getValue(attr.fcName) >= getAttrMax(attr.fcName)"
      class="nyllw edit w10" type="button"
      (click)="lvlContServ.sendData(
        attr.fejlec,
        attr.megjegyzes,
        getFcPath(attr.fcName),
        1,
        attr.lepes,
        attr.egyseg,
        1,
        getAttrPointsPath(),
        getValue(attr.fcName),
        getAttrMax(attr.fcName)-1
        )">&#9998;</button>

    </div>
  </div>

</div>
