<div *ngIf="mode == 'list'" class="pageCont w100">
  <div class="w100 margBott1" *ngFor="let f of getFrakcio()">

    <h2 class="ntl text2">{{f}}</h2>

    <div *ngFor="let n of getFilteredNpcs(f)">
      <div class="nbl text1" (click)="s.buttonAction(n.nev)">{{n.nev}}</div>
    </div>
  </div>
</div>

<div *ngIf="mode == 'one'" class="flexCont w100">
  <div *ngFor="let p of getOneNpc()" class="flexCont w100">

    <!-- fejléc -->
    <div class="ntl w70 center text1">{{p.nev}}</div>

    <!-- visszagomb -->
    <button class="itemRemove text1 w30 center" type="button" (click)="onClose()">Vissza</button>

    <div class="w33">
      <div class="text1 nbl center">DNS</div>
      <div class="text1 grayCell center">{{p.dns}}</div>
    </div>
    <div class="w33">
      <div class="text1 nbl center">Nem</div>
      <div class="text1 grayCell center">{{p.nem}}</div>
    </div>
    <div class="w33">
      <div class="text1 nbl center">Anyanyelv</div>
      <div class="text1 grayCell center">{{p.anyanyelv}}</div>
    </div>
    <div class="w33">
      <div class="text1 nbl center">Kor</div>
      <div class="text1 grayCell center">{{p.kor}} év</div>
    </div>
    <div class="w33">
      <div class="text1 nbl center">Magasság</div>
      <div class="text1 grayCell center">{{p.magassag}} cm</div>
    </div>
    <div class="w33">
      <div class="text1 nbl center">Súly</div>
      <div class="text1 grayCell center">{{p.suly}} Kg</div>
    </div>
    <div class="w30">
      <div class="text1 nbl center">Bőrszín</div>
      <div class="text1 grayCell center">{{p.borszin}}</div>
    </div>
    <div class="w70">
      <div class="text1 nbl center">Testalkat</div>
      <div class="text1 grayCell center">{{p.testalkat}}</div>
    </div>
    <div class="w30">
      <div class="text1 nbl center">Hajszín</div>
      <div class="text1 grayCell center">{{p.hajszin}}</div>
    </div>
    <div class="w70">
      <div class="text1 nbl center">Hajstílus</div>
      <div class="text1 grayCell center">{{p.hajstilus}}</div>
    </div>
    <div class="w30">
      <div class="text1 nbl center">Szemszín</div>
      <div class="text1 grayCell center">{{p.szemszin}}</div>
    </div>
    <div class="w70">
      <div class="text1 nbl center">Kaszt</div>
      <div class="text1 grayCell center">{{p.kaszt}}</div>
    </div>
    <div class="w100">
      <div class="text1 nbl center">Frakció</div>
      <div class="text1 grayCell center">{{p.frakcio}}</div>
    </div>
    <div class="w100">
      <div class="text1 nbl center">Leírás</div>
      <div class="text1 grayCell center">{{p.leiras}}</div>
    </div>
    <div class="w100">
      <div class="text1 nbl center">Idézetek</div>
      <div *ngFor="let idezet of p.idezetek">
        <div class="text1 grayCell center">{{idezet}}</div>
      </div>
    </div>
  </div>


</div>
