<div *ngIf="!isButton" class="modalContent">

  <div class="ntl text2 nev w100">{{nev}}</div>
  <div class="nbl text1 w100">{{megjegyzes}}</div>

  <!-- level number input -->
  <div class="nprpl text1 w100 display">{{forrasErtekUtv.value + ertekValtozas}} {{egyseg}}</div>

  <button class="w50 ngrn text1" [disabled]="buttonDisInc(maxErtek, 1)"
    (click)="changeValue(1)" type="button">
    +{{lepes/lepes}} {{egyseg}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(1)"
    (click)="changeValue(-1)" type="button">
    -{{lepes/lepes}} {{egyseg}}
  </button>

  <button class="w50 ngrn text1" [disabled]="buttonDisInc(maxErtek, lepes)"
    (click)="changeValue(lepes)" type="button">
    +{{lepes}} {{egyseg}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(lepes)"
    (click)="changeValue(-lepes)" type="button">
    -{{lepes}} {{egyseg}}
  </button>

  <div class="nrng w100 center text1">Minimum: {{forrasErtekUtv.value + ertekValtozas}} / Maximum: {{maxErtek}}</div>

  <div *ngIf="ar>0" class="w100 itemCont">
    <div class="nyllw text1 w30 center">Tőke</div>
    <div class="moneyCost text1 w30">{{ertekValtozas*ar}} Cr</div>
    <div class="grayCell text1 w40 center">{{this.resServ.getFc('elkolthetoToke')?.value-ertekValtozas*ar}} Cr</div>
  </div>
  <div *ngIf="karma>0" class="w100 itemCont">
    <div class="nprpl text1 w30 center">Karma</div>
    <div class="karmaCost text1 w30">{{ertekValtozas*karma}} K</div>
    <div class="grayCell text1 w40 center">{{this.resServ.getFc('elkolthetoKarma')?.value-ertekValtozas*karma}} K</div>
  </div>
  <div *ngIf="esszencia>0" class="w100 itemCont">
    <div class="ntl text1 w30 center">Esszencia</div>
    <div class="essenceCost text1 w30">{{ertekValtozas*esszencia}} E</div>
    <div class="grayCell text1 w40 center">{{essCalc()}} E</div>
  </div>

  <!-- save button -->

  <div class="buttonCont w100">
    <button class="ngrn text1" type="button" (click)="onSave()">Mentés</button>
    <button class="nrd text1" type="button" (click)="onClose()">Vissza</button>
  </div>

</div>

<button *ngIf="isEnabled && isButton" class="buttonUp bEnabled" type="button" (click)="buttonAction.emit()">&#9650;</button>

<button *ngIf="!isEnabled && isButton" class="buttonUp grayCell" type="button">&#9650;</button>
