:host {
  width: 100%;
}

.modalContent {
  width: 90%;
  background-color: black;
}

.fejlec, button {
  justify-content: center;
}

.display {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCont {
  padding-top: 1rem;
}
