.modalContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
}

.fejlec {
  justify-content: center;
}

.display {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCont {
  padding-top: 1rem;
}
