<div class="pageCont" [formGroup]="attrServ.attributesForm" *ngIf="attrServ.attributesForm">

  <div class="w100" *ngFor="let csoport of getCsoport()">

    <h3 class="w100 ntl">{{csoport}} {{getCsoportErtek(csoport)}}</h3>

    <div class="itemCont w100" *ngFor="let attr of getAttrsByCsoport(csoport)">
      <div class="nbl w40 text1">
        {{attr.nev}}
      </div>
      <div class="grayCell w15 text1 center">
        {{attrServ.getFc(attr.fcName).value}}/{{getAttrMax(attr.fcName, attr.max)}}
      </div>
      <div class="grayCell w15 text1 center">
        {{attrServ.getFc(attr.fcName+'Mod').value}}
      </div>
      <div class="ngrn w20 text1 center">
        {{attrServ.getFc(attr.fcName).value + attrServ.getFc(attr.fcName+'Mod').value}}
      </div>

      <app-levelcontrol class="w10"
        [isEnabled]="buttonStatus(attr.fcName, attr.max)"
        (buttonAction)="lvlContServ.buttonAction(
          attr.nev,
          attr.megjegyzes,
          attr.lepes,
          attr.egyseg,
          0,
          3,
          0,
          attrServ.getFc(attr.fcName),
          getAttrMax(attr.fcName, attr.max)
        )"
      ></app-levelcontrol>

    </div>
  </div>

  <h3 class="w100 ntl">Speciális</h3>

  <div class="itemCont w50">
    <div class="nbl text1 w100 center">Esszencia</div>
    <div class="ngrn text1 w100 center">
      {{attrServ.getFc('esszencia')?.value}}
    </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w80 center">Mágia</div>
    <app-levelcontrol class="w20"
    [isEnabled]="resServ.getFc('elkolthetoKarma')?.value>3"
      (buttonAction)="lvlContServ.buttonAction(
        'Mágia',
        'van',
        6,
        ' Pont',
        0,
        3,
        0,
        attrServ.getFc('magia'),
        6
        )"
        ></app-levelcontrol>
        <div class="ngrn text1 w100 center">
          {{attrServ.getFc('magia')?.value}}
        </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w100 center">Akció Pontok</div>
    <div class="ngrn text1 w100 center">
      {{attrServ.getAkcio()}}
    </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w80 center">Kockatartalék</div>
    <app-levelcontrol class="w20"
    [isEnabled]="resServ.getFc('elkolthetoKarma')?.value>3"
      (buttonAction)="lvlContServ.buttonAction(
        'Kockatartalék',
        'van',
        5,
        ' Pont',
        0,
        3,
        0,
        attrServ.getFc('kockatartalek'),
        6
      )"
      ></app-levelcontrol>
      <div class="ngrn text1 w100 center">
        {{attrServ.getFc('kockatartalek')?.value}}
      </div>
  </div>



</div>
