<div class="pageCont" [formGroup]="attrServ.attributesForm" *ngIf="attrServ.attributesForm">

  <div class="w100" *ngFor="let csoport of getCsoport()">

    <h3 class="w100 ntl">{{csoport}}</h3>

    <div class="itemCont w100" *ngFor="let attr of getAttrsByCsoport(csoport)">
      <div class="nbl w40 text1">
        {{attr.nev}}
      </div>
      <div class="grayCell w15 text1 center">
        {{attrServ.getFc(attr.fcName).value}}/6
      </div>
      <div class="grayCell w15 text1 center">
        {{attrServ.getFc(attr.fcName+'Mod').value}}
      </div>
      <div class="ngrn w20 text1 center">
        {{attrServ.getTulErtek(attr.fcName)}}
      </div>

    </div>
  </div>

  <h3 class="w100 ntl">Speciális</h3>

  <div class="itemCont w50">
    <div class="nbl text1 w100 center">Esszencia</div>
    <div class="ngrn text2 w100 center">
      {{attrServ.getFc('esszencia')?.value}}
    </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w80 center">Mágia</div>
    <div class="ngrn text2 w100 center">
      {{getMagia()}}
    </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w100 center">Akció Pontok</div>
    <div class="ngrn text2 w100 center">
      {{attrServ.getAkcio()}}
    </div>
  </div>

  <div class="itemCont w50">
    <div class="nbl text1 w80 center">Kockatartalék</div>
      <div class="ngrn text2 w100 center">
        {{attrServ.getFc('kockatartalek')?.value+attrServ.getDnsMod('kockatartalek')}}
      </div>
  </div>



</div>
