.flexCont {
  background-color: gray;
}

.buttonCont{
  padding-top: 1rem;
}

.flexCont {
  margin: .3rem 0;
}

.spAttrCont {
  display: flex;
  flex-flow: row nowrap;
}

.spAttr {
  flex: 1 1 auto;
  max-width: 12.5%;
}
