<div class="buttonCont w100 btnBack">
  <button class="itemGet text1 center" type="button" (click)="newItem(); select.clearSelected();">Új Eszköz</button>
</div>

<div class="flexCont w100" [formGroup]="s.itemsForm" *ngIf="s.itemsForm">

  <div class="flexCont w100" formArrayName="armors" *ngIf="armors.length > 0">

      <h3 class="margTop1">Páncélok</h3>

      <div class="w100" [formGroupName]='i' *ngFor="let armor of armors.value; let i = index">
        <app-item
        [item]="armor"
        ></app-item>
      </div>

  </div>

  <div class="flexCont w100" formArrayName="armorAddons" *ngIf="armorAddons.length > 0">

      <h3 class="margTop1">Páncélkiegészítők</h3>

      <div class="w100" [formGroupName]='i' *ngFor="let armorAddon of armorAddons.value; let i = index">
        <app-item
        [item]="armorAddon"
        ></app-item>
      </div>

  </div>
</div>
