<span class="itemCont">

<!-- fejléc -->

  <div class="ntl text2 center w100">{{fejlec}}</div>
  <div class="nbl text1 w100">{{megjegyzes}}</div>

<!-- célérték -->

  <div class="w100 text2 grayCell center">
    {{celControl.value + ertekValtozas*valto}}
    {{egysegC}}
  </div>

 <!-- gombok lépés 1 -->

   <button class="w50 ngrn text1" [disabled]="buttonDisInc(1)"
   (click)="changeValue(1)" type="button">
   +
   {{valto}}
   {{egysegC}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(1)"
  (click)="changeValue(-1)" type="button">
  -
  {{valto}}
  {{egysegC}}
</button>

<!-- gombok lépés érték -->

  <button class="w50 ngrn text1" [disabled]="buttonDisInc(lepes)"
    (click)="changeValue(lepes)" type="button">
    +
    {{lepes*valto}}
    {{egysegC}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(lepes)"
    (click)="changeValue(-lepes)" type="button">
    -
    {{lepes*valto}}
    {{egysegC}}
  </button>

<!-- min és max -->

  <div class="nrng w100 center text1">Minimum: {{minErtek}} / Maximum: {{maxErtek}}</div>

<!--forrásértékek -->

  <div *ngIf="tokeKtsg>0" class="w100 itemCont">
    <div class="nrng text1 w40 center">Tőke költség</div>
    <div class="toke text1 w60">
      {{ertekValtozas*tokeKtsg}} {{egysegF}} /
      {{forrasControl.value-ertekValtozas*tokeKtsg}} {{egysegF}}
    </div>
  </div>
  <div *ngIf="karmaKtsg>0" class="w100 itemCont">
    <div class="nprpl text1 w40 center">Karma költség</div>
    <div class="karma text1 w60">
      {{ertekValtozas*karmaKtsg}} {{egysegF}} /
      {{forrasControl.value-ertekValtozas*karmaKtsg}} {{egysegF}}
    </div>
  </div>

  <!-- save button -->

  <div class="buttonCont w100">
    <button class="ngrn text1" type="button" (click)="onSave()">Mentés</button>
    <button class="nrd text1" type="button" (click)="onClose()">Vissza</button>
  </div>
</span>
