<div class="pageCont" [formGroup]="resServ.resourcesForm" *ngIf="resServ.resourcesForm">

  <div class="itemCont w100" *ngFor='let res of getResUtil()'>
    <div class="ngrn w40 text1">
      {{res.fejlec}}
    </div>
    <div *ngIf="res.karmaKtsg" class="karmaCost text1 w10">
      {{res.karmaKtsg}}
    </div>
    <div *ngIf="!res.karmaKtsg" class="karmaCost text1 w10">
      0
    </div>

    <button [disabled]="res.novelheto" class="nyllw edit w10" type="button" (click)="lvlContServ.sendData(
    res.fejlec,
    res.megjegyzes,
    getFcPath(res.fcName),
    res.jutalom,
    res.lepes,
    res.egyseg,
    res.karmaKtsg,
    getFcPath('elkolthetoKarma'),
    getFcValue('elkolthetoKarma'),
    res.maxErtek
    )">&#9998;</button>

    <div class="w40 grayCell text1">
      {{getFcValue(res.fcName)}} {{res.egyseg}}
    </div>

  </div>

</div>
