<div class="buttonCont btnBack" *ngIf="s.initForm">
  <button class="itemGet text1" type="button" (click)="s.addPlayer()">Új Játékos</button>
  <button class="itemRemove text1" type="button" (click)="s.reset()">Reset</button>
  <button class="itemEdit text1" type="button" (click)="s.nextRound()">Új kör {{s.getCounter()}}</button>
</div>

<div class="pageCont w100" [formGroup]="s.initForm" *ngIf="s.initForm">

  <div class="flexCont w100" formArrayName="players">

    <div class="w100 margBott1 flexCont" [formGroupName]='i' *ngFor="let player of players.value; let i = index">
      <!-- név -->
      <div class="text1 w100 ntl">{{player.nev}}</div>

      <!-- Asztrális állapot -->
      <app-statusmonitor class="flexCont w100"
      [headText]="'Asztrális állapot'"
      [statusCode]="s.getFc(i, 'asztralisAllapot').value"
      (newStatusCode)="s.setStatus($event, i, 'asztralisAllapot')"
      ></app-statusmonitor>

      <!-- Fizikai állapot -->
      <app-statusmonitor class="flexCont w100"
      [headText]="'Fizikai állapot'"
      [statusCode]="s.getFc(i, 'fizikaiAllapot').value"
      (newStatusCode)="s.setStatus($event, i, 'fizikaiAllapot')"
      ></app-statusmonitor>

      <div class="w50 flexCont">
        <div class="w100 nbl text1 center">
          Tulajdonságok
        </div>
        <div class="w100 grayCell text1 center">
          {{s.getFc(i, 'alapTulSzint').value}} / {{s.getFc(i, 'szakTulSzint').value}}
        </div>
      </div>
      <div class="w50 flexCont">
        <div class="w100 nbl text1 center">
          Szakértelmek
        </div>
        <div class="w100 grayCell text1 center">
          {{s.getFc(i, 'szakertelemSzint').value}} / {{s.getFc(i, 'szakteruletSzint').value}}
        </div>
      </div>

    </div>

  </div>

</div>
