<div class="flexCont w100" [formGroup]="s.attributesForm" *ngIf="s.attributesForm">

  <!-- Fizikum és Asztrál és Speciális csoport -->

  <div class="w100 margBott1" *ngFor="let elem of csoportok">
    <h3>{{elem}}</h3>

    <div class="flexCont w100 posRel" *ngFor="let a of attributes"
    [ngClass]="select.toggleClass(a.fcName)" (click)="select.toggleStatus(a.fcName)">
      <app-attribute *ngIf="elem == a.csoport"
      [nev]="a.nev"
      [fcName]="a.fcName"
      ></app-attribute>

      <div *ngIf="select.status == a.fcName && elem == a.csoport && s.getFc(a.fcName)?.value < 6" class="buttonCont posAbs btnBack">
        <app-btn-options
        (buttonAction)="attrLvlUp(a.fcName)"
        ></app-btn-options>
      </div>

    </div>

  </div>

  <!-- Konstans csoport -->

  <div class="w100 flexCont margBott1">

    <h3>Konstansok</h3>

    <app-attribute
    [nev]="'Esszencia'"
    [fcName]="'esszencia'"
    ></app-attribute>
  </div>

</div>
