<div class="pageCont" [formGroup]="cybersServ.cybersForm" *ngIf="cybersServ.cybersForm">

  <button *ngIf="resServ.getFc('szabadToke').value >= 0" class="ngrn text1" type="button" (click)="sCyberServ.openModal()">Új Kiberver</button>
  <button *ngIf="resServ.getFc('szabadToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="cybers" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->


    <div class="w100" [formGroupName]='i' *ngFor="let c of cybers.value; let i = index">

      <div class="itemCont" *ngIf="c.csoport == csoport">


        <button class="deleteItem w10" type="button" (click)="cybersServ.removeCyber(i)">X</button>
        <div class="nbl w60 text1">{{c.nev}}</div>
        <div class="ngrn w20 text1 center">{{c.szint}} SZ</div>

        <div class="nprpl w20 text1 center">{{getMinoseg(c.minoseg)}}</div>
        <button [disabled]="c.minoseg == 3" type="button" class="text1 w10 center ngrn" (click)="cybersServ.minosegUp(i)">&#9650;</button>
        <button [disabled]="c.minoseg == 1" type="button" class="text1 w10 center nrd" (click)="cybersServ.minosegDown(i)">&#9660;</button>

        <div class="moneyCost text1 w40">{{c.ar*c.szint*c.minoseg}} Cr</div>
        <div class="essenceCost text1 w20">{{cybersServ.getEssValue(i)}} E</div>
        <div *ngIf="c.megjegyzes" class="grayCell text1 w100">{{c.megjegyzes}}</div>

      </div>

    </div>

  </div>

</div>
