<div class="pageCont" [formGroup]="detailsServ.detailsForm" *ngIf="detailsServ.detailsForm">

  <div class="w{{item.meret}} itemCont" *ngFor="let item of getDetailsUtil(); first as isFirst">
    <div class="itemCont w100" *ngIf="item.tipus !== 'kepessegek'">
      <div class="w{{100-1/item.meret*1000}} ngrn text1">{{item.fejlec}}</div>

      <app-input-modal class="w{{1/item.meret*1000}}"
        [isEnabled]="true"
        [fcPath]="getFcPath(item.fcName)"
        [fcName]="item.fcName"
        [tipus]="item.tipus"
        [fejlec]="item.fejlec"
        [megjegyzes]="[item.megjegyzes, getDefault(item.fcName)]"
        [ertek]="getValue(item.fcName)"
        [lista]="getList(item.fcName)"
        [egyseg]="item.egyseg"
      ></app-input-modal>

      <!-- input -->
      <div class="grayCell w100 text1" *ngIf="item.tipus !== 'color'">
        {{getValue(item.fcName)}} {{item.egyseg}}
      </div>

      <!-- color input -->
      <div class="grayCell w100 text1" *ngIf="item.tipus == 'color'" [style.backgroundColor]="getValue(item.fcName)">
        {{getValue(item.fcName)}}
      </div>

    </div>
    <div class="itemCont w100" *ngIf="item.tipus == 'kepessegek'">
      <div class="ngrn text1 w100">{{item.fejlec}}</div>
      <div class="grayCell w100 text1" *ngFor="let item of getDefault('kepessegek')">
        {{item}}
      </div>
    </div>
  </div>


</div>
