<div class="pageCont" [formGroup]="skillsServ.skillsForm" *ngIf="skillsServ.skillsForm">

  <button *ngIf="resServ.getFc('elkolthetoKarma').value >= 2" class="ngrn text1" type="button" (click)="selSkillsModalServ.openModal()">Új Szakértelem</button>
  <button *ngIf="resServ.getFc('elkolthetoKarma').value < 2" class="grayCell text1" type="button">Nincs elég Karmád</button>

  <div class="itemCont w100" formArrayName="skills" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let skill of getControls(); let i = index">

      <div class="itemCont" *ngIf="skillsServ.getFc(i, 'csoport')?.value == csoport">

        <div class="nbl text1 w50">{{skillsServ.getFc(i, 'nev')?.value}}</div>
        <div class="nrng text1 center w20">{{skillsServ.getFc(i, 'kapTul')?.value}}</div>
        <app-levelcontrol class="w10"
          [isEnabled]="resServ.getFc('elkolthetoKarma').value >= 2"
          (buttonAction)="lvlContServ.buttonAction(
            skillsServ.getFc(i, 'nev')?.value,
            getMegjFromUtil(skillsServ.getFc(i, 'nev')?.value),
            5,
            ' Szint',
            0,
            2,
            0,
            skillsServ.getFc(i, 'szint'),
            6
          )"
        ></app-levelcontrol>
        <div class="ngrn text1 center w20">{{skillsServ.getFc(i, 'szint')?.value}}</div>

        <button class="w10 deleteItem text1" type="button" (click)="skillsServ.removeSkill(i)">X</button>
        <div class="grayCell text1 w80">{{skillsServ.getFc(i, 'megjegyzes')?.value}}</div>

        <app-input-modal class="w10"
          [isEnabled]="true"
          (buttonAction)="inputModServ.buttonAction(
          skillsServ.getFc(i, 'megjegyzes'),
          'input',
          'text',
          skillsServ.getFc(i, 'nev')?.value,
          getMegjFromUtil(skillsServ.getFc(i, 'nev')?.value),
          skillsServ.getFc(i, 'megjegyzes')?.value,
          '',
          ''
          )"
        ></app-input-modal>

      </div>

    </div>
  </div>



</div>
