<div class="pageCont" [formGroup]="skillsServ.skillsForm" *ngIf="skillsServ.skillsForm">

  <button *ngIf="resServ.getFc('szabadKarma').value >= 2" class="ngrn text1" type="button" (click)="selSkillsModalServ.openModal()">Új Szakértelem</button>
  <button *ngIf="resServ.getFc('szabadKarma').value < 2" class="grayCell text1" type="button">Nincs elég Karmád</button>

  <div class="itemCont w100" formArrayName="skills" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let s of skills.value; let i = index">

      <div class="itemCont" *ngIf="s.csoport == csoport">

        <div class="nbl text1 w50">{{s.nev}}</div>
        <div class="nrng text1 center w20">{{s.kapTul}}</div>
        <div class="ngrn text2 center w20">{{s.szint}}</div>

        <button class="w10 deleteItem" type="button" (click)="skillsServ.removeSkill(i)">X</button>
        <div class="grayCell text1 w80">{{s.megjegyzes}}</div>

      </div>

    </div>
  </div>



</div>
