<!-- konténer -->

<div class="flexCont w100">

  <!-- fejléc -->

  <div class="nbl text2 center w80" >
    Szakértelmek
  </div>

  <!-- visszagomb -->

  <button class="nrd text1 w20 center" type="button" (click)="onClose()">Vissza</button>

  <!-- szűrők -->

  <app-hide-content class="w100 margBott1"
    [keyWord]="'mainCharFilter'"
    [arrowClass]="'flex1 nbl text2 center'"
    >
    <div headText class="flex1 nbl text2 center">
      Csoportszűrő: {{filter}}
    </div>
    <div class="flexCont gap2">
      <div class="nprpl text1 center" (click)="setFilter('Nincs')">Nincs</div>
      <div *ngFor="let csoport of s.getCsoportok()">
        <div class="nprpl text1 center" (click)="setFilter(csoport)">{{csoport}}</div>
      </div>
    </div>
  </app-hide-content>

  <!-- szakértelmek listája -->

  <div *ngFor="let csoport of s.getCsoportok()" class="w100 margBott1" [hidden]="filter !== 'Nincs' && filter !== csoport">

    <h3 class="nprpl">{{csoport}}</h3>

    <div class="w100" *ngFor="let skill of s.getSkills(); let i = index">

      <div class="posRel" *ngIf="skill.csoport == csoport" (click)="onSave(skill.nev)">
        <app-skills class="flexCont"
        [nev]="skill.nev"
        [szint]="skill.szint"
        [kapTul]="skill.kapTul"
        [kapTulSzint]="0"
        [megjegyzes]="skill.megjegyzes"
        >
        </app-skills>
      </div>

    </div>
  </div>

</div>
