<div class="pageCont">

  <h1 class="nrd w80">Kiberverek</h1>
  <button class="nrd w20 text2 deleteItem" type="button" (click)="onClose()">X</button>

  <div class="flexCont w100">
    <div class="nprpl text1 w50" (click)="selectFilter('Nincs')">Nincs</div>
    <div class="nprpl text1 w50" *ngFor="let csoport of getCsoportok()" (click)="selectFilter(csoport)">
      {{csoport}}
    </div>
  </div>

  <div class="flexCont w100" *ngFor="let filteredCs of getFilteredCsoportok()">

    <h3 class="w100 ntl">{{filteredCs}}</h3>

    <div class="flexCont w100" *ngFor="let a of getFilteredCybersList(filteredCs)" (click)="selectCyber(a._id)">

      <div class="nbl text1 w100">{{a.nev}}</div>
      <div class="nrng text1 w33">{{a.maxSzint}} Sz</div>
      <div class="moneyCost text1 w33">{{a.ar}} Cr</div>
      <div class="essenceCost text1 w33">{{a.esszencia}} E</div>
      <div class="grayCell text1 w100">{{a.megjegyzes}}</div>

    </div>

  </div>

</div>
