<div class="flexCont" [formGroup]="spiritsServ.spiritsForm" *ngIf="spiritsServ.spiritsForm">

  <button *ngIf="resServ.getFc('szabadToke').value >= 0" class="nbl text1" type="button" (click)="sSpiritServ.openModal()">Új Szellem</button>
  <button *ngIf="resServ.getFc('szabadToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="spirits" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let s of spirits.value; let i = index">

      <div class="flexCont" *ngIf="s.csoport == csoport">

        <button class="deleteItem w10" type="button" (click)="spiritsServ.removeSpirit(i)">X</button>
        <div class="ntl w60 text1 center">{{s.nev}}</div>
        <div class="nbl text2 w20 center">{{s.szint}} SZ</div>

        <div class="spAttrCont w100">
          <div class="nprpl text1 spAttr center">E</div>
          <div class="nprpl text1 spAttr center">Gy</div>
          <div class="nprpl text1 spAttr center">U</div>
          <div class="nprpl text1 spAttr center">Ki</div>
          <div class="nprpl text1 spAttr center">Ka</div>
          <div class="nprpl text1 spAttr center">In</div>
          <div class="nprpl text1 spAttr center">Lo</div>
          <div class="nprpl text1 spAttr center">Ak</div>
        </div>

        <div class="spAttrCont w100">
          <div class="grayCell text1 spAttr center">{{s.fizEro+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.fizGyo+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.fizUgy+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.fizKit+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.asztEro+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.asztGyo+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.asztUgy+s.szint}}</div>
          <div class="grayCell text1 spAttr center">{{s.asztKit+s.szint}}</div>
        </div>

        <div class="flexCont w25">
          <div class="nbl text1 w100 center">Essz</div>
          <div class="nbl text2 w100 center">
            {{s.szint}}
          </div>
        </div>

        <div class="flexCont w25">
          <div class="nbl text1 w100 center">Mágia</div>
          <div class="nbl text2 w100 center">
            {{s.szint}}
          </div>
        </div>

        <div class="flexCont w25">
          <div class="nbl text1 w100 center">AP</div>
          <div class="nbl text2 w100 center">
            {{spiritsServ.getAkcio(i)}}
          </div>
        </div>

        <div class="flexCont w25">
          <div class="nbl text1 w100 center">Sebzés</div>
            <div class="nbl text2 w100 center">
              {{s.szint+3}} ({{s.tamadas}})
            </div>
          </div>

          <div class="w30 nbl text1 center">
            {{s.szolgalatok}} szolgálat
          </div>

          <button class="w10 text1 center deleteItem" (click)="decSzolgalat(i)" type="button">&#9660;</button>

          <div class="w30 moneyCost text1">
            {{s.ar*s.szint}} Cr
          </div>
          <div class="w20 karmaCost text1">
            {{s.karma*s.szint}} K
          </div>

        <div class="grayCell text1 w100">{{s.kepessegek}}</div>
        <div class="grayCell text1 w90">{{s.megjegyzes}}</div>

      </div>

    </div>

  </div>

</div>
