<!-- új szakértelem -->

<div *ngIf="resS.getSzabadKarma() >= 2" class="buttonCont w100 btnBack margBott1">
  <button class="itemGet text1 center" type="button" (click)="s.newSkill()">Új Szakértelem</button>
</div>

<div class="flexCont w100" [formGroup]="s.skillsForm" *ngIf="s.skillsForm">

  <!-- csoportosítás -->

  <div class="w100" formArrayName="skills" >
    <div class="flexCont" *ngFor='let elem of csoportok'>

      <h3 class="margTop1">{{elem}}</h3>

      <!-- csoport konténer -->

      <div class="w100" [formGroupName]='i' *ngFor="let skill of sortedSkills(); let i = index">

        <div class="posRel" *ngIf="skill.csoport == elem"
        [ngClass]="select.toggleClass(skill.nev+i)" (click)="select.toggleStatus(skill.nev+i)">
          <app-skill class="flexCont"
          [nev]="skill.nev"
          [szint]="skill.szint"
          [kapTul]="skill.kapTul"
          [kapTulSzint]="0"
          >
          </app-skill>
          <div buttons *ngIf="select.status == skill.nev+i" class="buttonCont w100 posAbs btnBack">
            <button class="text1 itemGet" type="button">Szintlépés</button>
            <button class="text1 itemGet" (click)="s.newSpec(i)" type="button">Specializáció</button>
            <button class="text1 itemRemove" type="button" (click)="s.removeSkill(i)">Törlés</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
