<div class="buttonCont btnBack">
  <button *ngIf="userIsAuthenticated && _id == getCreatorId()" class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemRemove text1" type="button" (click)="backToList()">Vissza</button>
</div>

<app-hide-content class="w100"
[keyWord]="'mainCharFilter'"
[arrowClass]="'flex1 nbl text2 center'"
>
  <div headText class="flex1 nbl text2 center">
    Oldalszűrő: {{filter}}
  </div>
  <div class="flexCont gap2">
    <div class="text1 center nprpl gap2 w100" (click)="setFilter('Nincs')">X Nincs</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Jellemzők')">Jellemzők</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Erőforrások')">Erőforrások</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Tulajdonságok')">Tulajdonságok</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Állapotjelző')">Állapotjelző</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Szakértelmek')">Szakértelmek</div>
  </div>
</app-hide-content>

<form class="flexCont margTop1" *ngIf="s.mainCharForm" [formGroup]="s.mainCharForm" (ngSubmit)="sendChar()">

  <div [hidden]="filter !== 'Nincs' && filter !== 'Jellemzők'">
    <h2 class="ntl text2 w100 center margTop1 margBott1">Jellemzők</h2>
    <app-details></app-details>
  </div>
  <div [hidden]="filter !== 'Nincs' && filter !== 'Erőforrások'">
    <h2 class="ntl text2 w100 center margTop1 margBott1">Erőforrások</h2>
    <app-resources></app-resources>
  </div>
  <div [hidden]="filter !== 'Nincs' && filter !== 'Tulajdonságok'">
    <h2 class="ntl text2 w100 center margTop1 margBott1">Tulajdonságok</h2>
    <app-attributes></app-attributes>
  </div>
  <div [hidden]="filter !== 'Nincs' && filter !== 'Állapotjelző'">
    <h2 class="ntl text2 w100 center margTop1 margBott1">Állapotjelző</h2>
    <app-status></app-status>
  </div>
  <div [hidden]="filter !== 'Nincs' && filter !== 'Szakértelmek'">
    <h2 class="ntl text2 w100 center margTop1 margBott1">Szakértelmek</h2>
    <app-skills-list></app-skills-list>
  </div>

</form>
