<form class="flexCont w100 margTop1" *ngIf="s.mainCharForm" [formGroup]="s.mainCharForm" (ngSubmit)="sendChar()">
<div class="buttonCont btnBack">
  <button *ngIf="userIsAuthenticated && _id == getCreatorId()" class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemGet text1" type="submit">Karakter mentése</button>
  <button class="itemRemove text1" type="button" (click)="backToList()">Vissza</button>
</div>

<app-hide-content class="w100"
[keyWord]="'mainCharFilter'"
[arrowClass]="'flex1 nbl text2 center'"
>
  <div headText class="flex1 nbl text2 center">
    Oldalszűrő: {{filter}}
  </div>
  <div class="flexCont gap2">
    <div class="text1 center nprpl gap2 w100" (click)="setFilter('Nincs')">X Nincs</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Jellemzők')">Jellemzők</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Erőforrások')">Erőforrások</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Tulajdonságok')">Tulajdonságok</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Állapotjelző')">Állapotjelző</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Szakértelmek')">Szakértelmek</div>
    <div class="text1 center nprpl gap2 flex1" (click)="setFilter('Eszközök')">Szakértelmek</div>
  </div>
</app-hide-content>


  <h2 *ngIf="filter == 'Nincs' || filter ==  'Jellemzők'" >Jellemzők</h2>
  <app-details *ngIf="filter == 'Nincs' || filter ==  'Jellemzők'"></app-details>

  <h2 *ngIf="filter == 'Nincs' || filter ==  'Erőforrások'" >Erőforrások</h2>
  <app-resources *ngIf="filter == 'Nincs' || filter ==  'Erőforrások'"></app-resources>

  <h2 *ngIf="filter == 'Nincs' || filter ==  'Tulajdonságok'" >Tulajdonságok</h2>
  <app-attributes *ngIf="filter == 'Nincs' || filter ==  'Tulajdonságok'"></app-attributes>

  <h2 *ngIf="filter == 'Nincs' || filter ==  'Állapotjelző'" >Állapotjelző</h2>
  <app-status *ngIf="filter == 'Nincs' || filter ==  'Állapotjelző'"></app-status>

  <h2 *ngIf="filter == 'Nincs' || filter ==  'Szakértelmek'" >Szakértelmek</h2>
  <app-skills *ngIf="filter == 'Nincs' || filter ==  'Szakértelmek'"></app-skills>

  <h2 *ngIf="filter == 'Nincs' || filter ==  'Eszközök'" >Eszközök</h2>
  <app-items *ngIf="filter == 'Nincs' || filter ==  'Eszközök'"></app-items>

</form>
