.posAbs {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

.posRel {
  position: relative;
}

.center {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.textR {
  text-align: right;
  justify-content: right;
  align-content: center;
}
