button {
  justify-content: center;
  align-items: center;
}

button:disabled {
  background-color: lightgray;
  color: gray;
  text-shadow: none;
  box-shadow: none;
}

.buttonCont {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
