* {box-sizing: border-box; padding: 0; margin: 0 auto;font-family:Arial, Helvetica, sans-serif}

@import "styles-colors.css";
@import "styles-buttons.css";
@import "styles-positions.css";
@import "styles-flex.css";


html {
  background-color: black;
  background-image: url("../src/app/images/fakp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  display: flex;
}

input, label {
  border: none;
  width: 100%;
  min-height: 1.2rem;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

h2 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

h3 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

ul, li {
  list-style-type: none;
  text-align: center;
}

ul {
  display: flex;
  align-content: space-evenly;
  flex-flow: row nowrap;
}

li {
  flex: 1;
}

li :hover {
  cursor: pointer;
  background-color: orange;
  color: black;
}

.text1 {
  font-size: 1.1rem;
  padding: 0.3rem;
}

.text2 {
  font-size: 1.2rem;
  padding: 0.4rem;
}

.creator {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
}

[hidden] { display: none !important; }
