* {box-sizing: border-box; padding: 0; margin: 0 auto;font-family:Arial, Helvetica, sans-serif}

html {background-color: gray}

body {
  background-color: gray;
  width: 100%;
}

input, label, datalist, option, select {
  border: none;
  width: 100%;
  min-height: 1.2rem;
}

h3 {
  margin: 0.4rem auto;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

ul, li {
  list-style-type: none;
  text-align: center;
}

.nprpl {
  color: rgb(255, 125, 255);
  text-shadow: 0 0 5px rgb(136, 0, 194), 0 0 10px lightpink;
  background-color: black;
  box-shadow: 2px 2px 6px purple inset;
}
.nbl {
  color: rgb(125, 125, 255);
  text-shadow: 0 0 3px blue, 0 0 5px lightblue;
  background-color: black;
  box-shadow: 2px 2px 6px blue inset;
}
.nyllw {
  color: rgb(255, 255, 125);
  text-shadow: 0 0 3px yellow, 0 0 5px lightyellow;
  background-color: black;
  box-shadow: 2px 2px 6px yellow inset;
}
.nrng {
  color: rgb(255, 175, 125);
  text-shadow: 0 0 3px orange, 0 0 5px lightgoldenrodyellow;
  background-color: black;
  box-shadow: 2px 2px 6px orange inset;
}
.nrd {
  color: rgb(255, 125, 125);
  text-shadow: 0 0 3px red, 0 0 5px lightcoral;
  background-color: black;
  box-shadow: 2px 2px 6px red inset;
}
.ngrn {
  color: rgb(125, 255, 125);
  text-shadow: 0 0 3px green, 0 0 5px lightgreen;
  background-color: black;
  box-shadow: 2px 2px 6px green inset;
}
.ntl {
  color: rgb(125, 255, 255);
  text-shadow: 0 0 3px turquoise, 0 0 5px lightcyan;
  background-color: black;
  box-shadow: 2px 2px 6px turquoise inset;
}

.grayCell {
  color: black;
  background-color: lightgray;
  box-shadow: 2px 2px 6px black inset;
}

.karmaCost {
  color: white;
  text-shadow: 0 0 3px rgb(249, 59, 233), 0 0 5px lightpink;
  background-color: purple;
  box-shadow: 2px 2px 6px lightpink inset;
  padding-right: 0.2rem;
  text-align: center;
}

.moneyCost {
  color: white;
  text-shadow: 0 0 3px rgb(255, 197, 81), 0 0 5px lightgoldenrodyellow;
  background-color: orange;
  box-shadow: 2px 2px 6px lightgoldenrodyellow inset;
  padding-right: 1rem;
  text-align: center;
}

.w10 {
  flex: 1 1 0;
  max-width: 10%;
  min-width: 10%;
}
.w15 {
  flex: 1 1 0;
  max-width: 15%;
  min-width: 15%;
}
.w20 {
  flex: 1 1 0;
  max-width: 20%;
  min-width: 20%;
}
.w25 {
  flex: 1 1 0;
  max-width: 25%;
  min-width: 25%;
}
.w30 {
  flex: 1 1 0;
  max-width: 30%;
  min-width: 30%;
}
.w33 {
  flex: 1 1 0;
  max-width: 33.33%;
  min-width: 33.33%;
}
.w40 {
  flex: 1 1 0;
  max-width: 40%;
  min-width: 40%;
}
.w50 {
  flex: 1 1 0;
  max-width: 50%;
  min-width: 50%;
}
.w60 {
  flex: 1 1 0;
  max-width: 60%;
  min-width: 60%;
}
.w66 {
  flex: 1 1 0;
  max-width: 66%;
  min-width: 66%;
}
.w80 {
  flex: 1 1 0;
  max-width: 80%;
  min-width: 80%;
}
.w90 {
  flex: 1 1 0;
  max-width: 90%;
  min-width: 90%;
}
.w100 {
  flex: 1 1 0;
  max-width: 100%;
  min-width: 100%;
}

.text1 {
  font-size: 1.1rem;
  padding: 0.4rem 0.3rem 0.3rem 0.4rem;
  display: flex;
  align-items: center;
}

.pageCont {
  margin: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.itemCont {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.buttonCont {
  display: flex;
  flex-flow: row nowrap;
}

button {
  justify-content: center;
  align-items: center;
}

button:disabled {
  background-color: lightgray;
  color: gray;
  text-shadow: none;
  box-shadow: none;
}

[hidden] { display: none !important; }
