<app-hide-content class="w100"
[keyWord]="item._id"
[arrowColor]="'nwht'"
>
  <div headText class="flex1 text1 nwht">
    {{item.nev}}
  </div>

  <div items class="flexCont w100">

    <div *ngIf="item.csoport" class="w40 nbl text1">Csoport</div>
    <div *ngIf="item.csoport" class="w60 grayCell text1">{{item.csoport}}</div>

    <div *ngIf="item.tipus" class="w40 nbl text1">Típus</div>
    <div *ngIf="item.tipus" class="w60 grayCell text1">{{item.tipus}}</div>

    <div *ngIf="item.suly" class="w40 nbl text1">Súly</div>
    <app-special-field *ngIf="item.suly" class="w60"
    [ertek]="item.suly"
    [tipus]="'suly'"
    ></app-special-field>

    <div *ngIf="item.szint" class="w40 nbl text1">{{item.faName == 'armors' ? 'Páncélérték' : 'Szint'}}</div>
    <app-special-field *ngIf="item.szint" class="w60"
    [ertek]="item.szint"
    [tipus]="item.faName == 'armors' ? 'pancel' : 'szint'"
    ></app-special-field>

    <div *ngIf="item.maxSzint" class="w40 nbl text1">Max. Szint</div>
    <app-special-field *ngIf="item.maxSzint" class="w60"
    [ertek]="item.maxSzint"
    [tipus]="'szint'"
    ></app-special-field>

    <div *ngIf="item.celszam" class="w40 nbl text1">Célszám</div>
    <div *ngIf="item.celszam" class="w60 grayCell textR  text1">{{item.celszam}}</div>

    <div *ngIf="item.celpontokSzama" class="w40 nbl text1">Célpontok</div>
    <div *ngIf="item.celpontokSzama" class="w60 grayCell textR  text1">{{item.celpontokSzama}}</div>

    <div *ngIf="item.hatosugar" class="w40 nbl text1">Hatósugár</div>
    <div *ngIf="item.hatosugar" class="w60 grayCell textR  text1">{{item.hatosugar}}</div>

    <div *ngIf="item.felhasznalasNev" class="w40 nbl text1">{{item.felhasznalasNev}}</div>
    <div *ngIf="item.felhasznalt" class="w60 grayCell textR  text1">{{item.felhasznalasMax! - item.felhasznalt!}}</div>

    <!-- <div *ngIf="item.tavolsag" class="w100 grayCell text1">{{item.tavolsag}}</div>
    <div *ngIf="item.tamadas" class="w100 grayCell text1">{{item.tamadas}}</div>
    <div *ngIf="item.tulajdonsagModosito" class="w100 grayCell text1">{{item.tulajdonsagModosito}}</div> -->

    <div *ngIf="item.leiras" class="w100 nbl text1 center">Leírás</div>
    <div *ngIf="item.leiras" class="w100 grayCell text1">{{item.leiras}}</div>

    <div *ngIf="item.tokeKtsgPerSzint" class="w40 nbl text1 center">Tőke / Szint</div>
    <app-special-field class="w60" *ngIf="item.tokeKtsgPerSzint"
    [ertek] = "item.tokeKtsgPerSzint"
    [tipus]="'toke'"
    ></app-special-field>

    <div *ngIf="item.karmaKtsgPerSzint" class="w40 nbl text1 center">Karma / Szint</div>
    <app-special-field class="w60" *ngIf="item.karmaKtsgPerSzint"
    [ertek] = "item.karmaKtsgPerSzint"
    [tipus]="'karma'"
    ></app-special-field>

    <div *ngIf="item.esszenciaKtsgPerSzint" class="w40 nbl text1 center">Esszencia / Szint</div>
    <app-special-field class="w60" *ngIf="item.esszenciaKtsgPerSzint"
    [ertek] = "item.esszenciaKtsgPerSzint"
    [tipus]="'esszencia'"
    ></app-special-field>

    <div *ngIf="item.tokeKtsgSzorzo" class="w40 nbl text1 center">Tőke Szorzó</div>
    <app-special-field class="w60" *ngIf="item.tokeKtsgSzorzo"
    [ertek] = "item.tokeKtsgSzorzo"
    [tipus]="'toke'"
    ></app-special-field>

    <div *ngIf="item.karmaKtsgSzorzo" class="w40 nbl text1 center">Karma Szorzó</div>
    <app-special-field class="w60" *ngIf="item.karmaKtsgSzorzo"
    [ertek] = "item.karmaKtsgSzorzo"
    [tipus]="'karma'"
    ></app-special-field>

    <div *ngIf="item.esszenciaKtsgSzorzo" class="w40 nbl text1 center">Esszencia Szorzó</div>
    <app-special-field class="w60" *ngIf="item.esszenciaKtsgSzorzo"
    [ertek] = "item.esszenciaKtsgSzorzo"
    [tipus]="'esszencia'"
    ></app-special-field>

    <div *ngIf="item.tokeKtsg" class="w40 nbl text1 center">Tőkeköltség</div>
    <app-special-field class="w60" *ngIf="item.tokeKtsg"
    [ertek] = "item.tokeKtsg"
    [tipus]="'toke'"
    ></app-special-field>

    <div *ngIf="item.karmaKtsg" class="w40 nbl text1 center">Karmaköltség</div>
    <app-special-field class="w60" *ngIf="item.karmaKtsg"
    [ertek] = "item.karmaKtsg"
    [tipus]="'karma'"
    ></app-special-field>

    <div *ngIf="item.esszenciaKtsg" class="w40 nbl text1 center">Esszenciaköltség</div>
    <app-special-field class="w60" *ngIf="item.esszenciaKtsg"
    [ertek] = "item.esszenciaKtsg"
    [tipus]="'esszencia'"
    ></app-special-field>
  </div>

</app-hide-content>
