<div class="pageCont" [formGroup]="skillsServ.skillsForm">

  <button class="ngrn text1" type="button" (click)="selSkillsModalServ.openModal()">Új Szakértelem</button>

  <div class="itemCont w100" *ngFor='let tipus of getTipus()'>

    <h3 class="w100 ntl text1">{{tipus}}</h3>

    <div class="" [formGroupName]='i' *ngFor="let skill of getControls(tipus); let i = index">


      <button class="nyllw edit w10" type="button" (click)="lvlContServ.sendData(
        skill.fejlec,
        skill.megjegyzes,
        getFcPath(skill.fcName),
        skill.jutalom,
        skill.lepes,
        skill.egyseg,
        skill.karmaKtsg,
        getSkillPointsPath(),
        getFcValue(i),
        skill.maxErtek
        )">&#9998;</button>
      </div>
  </div>

</div>
