<div class="pageCont" [formGroup]="skillsServ.skillsForm" *ngIf="skillsServ.skillsForm">

  <button *ngIf="resServ.getFc('elkolthetoKarma').value >= 2" class="ngrn text1" type="button" (click)="selSkillsModalServ.openModal()">Új Szakértelem</button>
  <button *ngIf="resServ.getFc('elkolthetoKarma').value < 2" class="grayCell text1" type="button">Új Szakértelem</button>

  <div class="itemCont w100" formArrayName="skills" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 *ngIf="checkCsoport(csoport)" class="w100 ntl text1">{{csoport}}</h3>

    <!-- skillcontainer -->

    <div class="w100" [formGroupName]='i' *ngFor="let skill of getControls(); let i = index">

      <div class="itemCont" *ngIf="skillsServ.getFc(i, 'szakertCsoport')?.value == csoport">

        <div class="ntl text1 w50">{{skillsServ.getFc(i, 'szakertNev')?.value}}</div>
        <div class="ntl text1 w50">{{skillsServ.getFc(i, 'szakertMegjegyzes')?.value}}</div>

        <app-input-modal class="w20"
          [isEnabled]="true"
          [fcPath]="skillsServ.getFc(i, 'szakertMegjegyzes')"
          [fcName]="'input'"
          [tipus]="'text'"
          [fejlec]="skillsServ.getFc(i, 'szakertNev')?.value"
          [megjegyzes]="getMegjFromUtil(skillsServ.getFc(i, 'szakertNev')?.value)"
          [ertek]="skillsServ.getFc(i, 'szakertMegjegyzes')?.value"
          [lista]="''"
          [egyseg]="''"
        ></app-input-modal>

        <div class="ntl text1 w20">{{skillsServ.getFc(i, 'szakertSzint')?.value}}</div>

        <app-levelcontrol class="w20"
          [isEnabled]="resServ.getFc('elkolthetoKarma').value >= 2"
          (buttonAction)="lvlContServ.buttonAction(
            skillsServ.getFc(i, 'szakertNev')?.value,
            getMegjFromUtil(skillsServ.getFc(i, 'szakertNev')?.value),
            1,
            5,
            'Szint',
            2,
            skillsServ.getFc(i, 'szakertSzint'),
            resServ.getFc('elkolthetoKarma'),
            skillsServ.getFc(i, 'szakertSzint')?.value,
            6
          )"
        ></app-levelcontrol>
      </div>

    </div>
  </div>

</div>
