<div class="pageCont" [formGroup]="weaponsServ.weaponsForm" *ngIf="weaponsServ.weaponsForm">

  <button *ngIf="resServ.getFc('elkolthetoToke').value >= 0" class="ngrn text1" type="button" (click)="sWeaponServ.openModal(false)">Új Fegyver</button>
  <button *ngIf="resServ.getFc('elkolthetoToke').value < 0" class="grayCell text1" type="button">Nincs elég Tőkéd</button>

  <div class="w100" formArrayName="weapons" *ngFor='let csoport of getCsoportok()'>

    <!-- csoportosítás -->

    <h3 class="w100 ntl">{{csoport}}</h3>

    <!-- csoport konténer -->

    <div class="w100" [formGroupName]='i' *ngFor="let w of weapons.value; let i = index">

      <div class="itemCont" *ngIf="w.csoport == csoport">

        <button class="deleteItem w10" type="button" (click)="weaponsServ.removeWeapon(i)">X</button>
        <div class="nbl w60 text1">{{w.nev}}</div>
        <div class="nrd text1 w30 center">
          {{w.ero}}
          ({{w.sebzes}}
          {{getSebKod(w.sebzesTipus)}})
        </div>

        <div class="moneyCost text1 w40 center">{{w.ar + w.kiegekAra}} Cr</div>
        <div class="grayCell text1 w30 center">{{w.suly + w.kiegekSulya}} Kg</div>
        <div class="nprpl w30 text1 center" (click)="changePlace(i)">{{w.elhelyezes}}</div>

        <div class="grayCell text1 w100 center">{{w.tipus}} // {{w.tar}}</div>

        <div *ngIf="['Tűzfegyverek','Lőfegyverek','Nehézfegyverek'].includes(w.csoport)" class="grayCell text1 w100 center">
          Táv: {{w.tav}}/{{w.tav*3}}/{{w.tav*6}}/{{w.tav*9}} m // {{w.tamadasiModok}}
        </div>
        <div *ngIf="!['Tűzfegyverek','Lőfegyverek','Nehézfegyverek'].includes(w.csoport)" class="grayCell text1 w100 center">
          Táv: {{w.tav}}  // {{w.tamadasiModok}}
        </div>

        <div class="grayCell text1 w90">{{w.megjegyzes}}</div>
        <app-input-modal class="w10"
          [isEnabled]="true"
          (buttonAction)="inputModServ.buttonAction(
          weaponsServ.getFcArr(i, 'megjegyzes'),
          'input',
          'text',
          w.nev,
          ['Megjegyzés szerkesztése'],
          w.megjegyzes,
          '',
          ''
          )"
        ></app-input-modal>


        <button class="ngrn w100 text1 center" *ngIf="['Tűzfegyverek','Lőfegyverek','Közelharci fegyverek'].includes(w.csoport)
        && getLenght(i)<4"
        type="button" (click)="sWAddonServ.openModal(i, w.csoport, w.felszerelt)">
          Új Kiegészítő
        </button>

        <div class="w100" formArrayName="addons">
          <div class="w100" [formGroupName]='k' *ngFor="let a of getWAddons(i).value; let k = index">
            <div class="nprpl text1 w100">{{a.nev}}</div>
            <div class="grayCell text1 w100">{{a.megjegyzes}}</div>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>
